@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --color1: ;
    --color2: ;
    --color3: ;
    font-size: 65.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    font-family: 'Inter' sans-serif;
}
#body{
    background-color:  rgb(235, 235, 235);
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}
#container{
    background-color: rgb(255, 255, 255);
    padding: 5rem 8rem;
    width: 50%;
    height: 80%;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
}
#top, #bottom{
    display: flex;
    flex-direction: column;
}
#top, #bottom, h1{
    font-size: 2.4rem;
}
/*part 1*/
#converter{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem 6rem 0rem;
}
.icon{
    display: flex;
    place-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 1s;
}
.icon:hover{
    transform: scale(1.4);
    transition: transform 1s;
    cursor: pointer;
}
.currency-1, .currency-2{
    border-radius: 0.5rem;
}
.form{
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
    border: 2px solid rgb(115, 10, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
    gap: 2px;
}
.form input, select{
    padding: 0.5rem;
    border: none;
}
.form input{
    width: 100%;
    font-size: 1.7rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.form select{
    background-color: rgba(116, 10, 255, 0.336);
    height: 5rem;
    width: 50%;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    cursor: pointer;
}
/*part 1*/
/*part 2*/
#bottom h2{
    color: rgb(150, 150, 150);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}
#graph{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    padding: 1rem;
}
.graph-y{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    font-size: 1rem;
    width: 10%;
    height: 81.5%;
}
.graph-x{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    height: 10%;
}
.screen-graphic{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}
.screen-graphic img{ 
    width: 100%;
    height: 90%;
}
#mark{
    font-size: 1.3rem;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 2px 4px;
}
/*part 2*/
