@charset 'UTF-8';

:root{
    --color1: ;
    --color2: ;
    --color3: ;
    font-size: 65.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    
}
#body{
    background-color:  rgb(200, 200, 200);
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}
#container{
    background-color: rgb(255, 255, 255);
    padding: 5rem 8rem;
    width: 50%;
    height: 70%;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
}
#top, #bottom{
    border: 1px solid green;

    display: flex;
    flex-direction: column;
    
}
#converter{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem 6rem 0rem;
}
.icon{
    display: flex;
    place-items: center;
    justify-content: center;
}
.currency-1, .currency-2{
    border-radius: 0.5rem;
}
.form{
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
    border: 2px solid rgba(100, 100, 100, 0.50);
    gap: 2px;
}
.form input, select{
    padding: 0.5rem;
    border: none;
}
.form input{
    font-size: 1.7rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.form select{
    height: 5rem;
    width: 8rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}
